 .bvn-widget, .bar{
  color: #fff0ff; 
 # background-color: #211a1c;
  border-style: solid;
  border-width: 2px;
  border-color: #da003a; 
  border-radius: 8px;
  font: 14px "CaskaydiaCove Nerd Font";
}

.hub {
 # background-color: rgba(30,30,30,150);
}

* {
  all: unset;
  padding-left: 5px;
  padding-right: 5px;
}
